{% macro code_block(item) %}
<div class="pf-code-block {% if item.fragment %}pf-fragment{% endif %}">
  {% if item.language and item.language != 'auto' %}
  <div class="pf-code-lang-badge">{{ item.language }}</div>
  {% endif %}
  <pre><code class="language-{{ item.language | default('') }}" {% if item.line_numbers %}data-line-numbers{% endif %}>{{ item.code | e }}</code></pre>
  {% if item.caption %}
  <div class="pf-code-caption">{{ item.caption }}</div>
  {% endif %}
</div>
{% endmacro %}
