{% extends "base.html.j2" %}

{% block content %}
{% include "partials/header.html.j2" %}

<div class="pf-code-fullslide">
  <pre><code class="language-{{ slide.data.language | default('') }}" {% if slide.data.line_numbers %}data-line-numbers{% endif %}>{{ slide.data.code | e }}</code></pre>
  {% if slide.data.caption %}
  <div class="pf-code-caption">{{ slide.data.caption }}</div>
  {% endif %}
</div>
{% endblock %}
