{% extends "base.html.j2" %}
{% from "partials/mermaid-block.html.j2" import mermaid_block %}

{% block content %}
{% include "partials/header.html.j2" %}

<div class="pf-mermaid-layout">
  {{ mermaid_block(slide.data) }}
</div>
{% endblock %}
