{% extends "base.html.j2" %}

{% block content %}
{% include "partials/header.html.j2" %}

<div class="pf-mermaid-fullslide">
  <div class="mermaid">{{ slide.data.diagram }}</div>
</div>
{% endblock %}
