{% extends "base.html.j2" %}

{% block container_class %} centered{% endblock %}

{% block decorations %}
{% include "partials/bg-pattern.html.j2" %}
{% endblock %}

{% block content %}
{% include "partials/header.html.j2" %}

<div class="pf-toc">
  {% for item in (slide.data.get('items') or []) %}
  <div class="pf-toc-entry {% if item.fragment is defined and item.fragment %}pf-fragment{% endif %}">
    {% if item.number %}
    <div class="pf-toc-number">{{ "%02d"|format(item.number) if item.number is number else item.number }}</div>
    {% endif %}
    <div class="pf-toc-text">
      <div class="pf-toc-title">{{ item.title }}</div>
      {% if item.subtitle %}
      <div class="pf-toc-subtitle">{{ item.subtitle }}</div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
